#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8rem;
  scroll-margin-top: 10vh;
  background-color: var(--container-color);
  @media (max-width: 972px) {
    margin-top: var(--margin-tablet);
  }
  @media (max-width: 500px) {
    margin-top: var(--margin-mobile);
  }
  h2 {
    color: var(--title-color);
  }
  li {
    color: var(--text-color);
    font-weight: 600;
  }
  .skills-list {
    display: flex;
    justify-content: space-between;
    padding: var(--padding-desktop);
    margin-top: 1rem;
    border: 0.2rem solid var(--primary-color);
    border-radius: 0.2rem;
    @media (max-width: 500px) {
      padding: var(--padding-mobile);
    }
  }
}
