@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import "./Variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

/* Global Styles */
ul {
  list-style: none;
}
h1 {
  font-size: 2.6rem;
  font-weight: var(--font-bold);
  @media (max-width: 972px) {
    font-size: 2.3rem;
  }
  @media (max-width: 500px) {
    font-size: 2rem;
  }
}
h2 {
  font-size: 2rem;
  font-weight: var(--font-medium);
  @media (max-width: 972px) {
    font-size: 1.8rem;
  }
  @media (max-width: 500px) {
    font-size: 1.4rem;
  }
}
h3 {
  font-size: 1.4rem;
  font-weight: var(--font-medium);
  @media (max-width: 500px) {
    font-size: 1.2rem;
  }
}
p {
  font-size: 0.95rem;
  font-weight: var(--font-normal);
  color: var(--text-color);
}
/* --- Global Styles --- */

.app-container {
  background-color: var(--body-color);
  .app {
    width: 85vw;
    max-width: 1400px;
    overflow-x: hidden;
    margin: 10vh auto 0 auto;
    @media (max-width: 500px) {
      width: 95vw;
    }
  }
}
